:root {
	--color: #7CB9E8;
	--padding-large: 1rem;
	--padding-small: 0.3rem;
	font-family:Helvetica, sans-serif;
	font-size: 10pt;
}

.subtext {
	font-size: smaller;
	color: gray;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
}

h3 {
	text-transform: uppercase;
	margin-bottom: var(--padding-small);
	width: 100%;
	border-bottom: 3px solid var(--color);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: smaller;
  -webkit-print-color-adjust:exact !important;
  print-color-adjust:exact !important;
}

section {
	padding-top: var(--padding-large);
}

.text-indent {
	text-indent: 1.5rem;
}

.A4 {
	border-top: solid 1rem var(--color);
  max-width:210mm;
	padding: 12mm 24mm;
}

.flex-center {
	display: flex;
	gap: 0.25rem;
	align-items: center;
}

.flex-small-padding {
	display: flex;
	flex-direction: column;
	gap: var(--padding-small)
}

.padding-left {
	padding-left: 0.75rem;

}

.flex-between {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	flex-wrap: wrap;
	gap: var(--padding-small)
}
