@font-face {
	font-family: "roboto";
	src: url("Roboto-Slab-Regular.woff2") format("woff2");
	font-weight: normal;
	font-display: fallback ;
}

@font-face {
	font-family: "roboto";
	src: url("Roboto-Slab-Bold.woff2") format("woff2");
	font-weight: bold;
	font-display: fallback ;
}

:root {
	--color: #9EC6F3;
	--padding-large: 0.75rem;
	--padding-small: 0.5rem;
	font-family: "roboto", sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
}

h3 {
	text-transform: uppercase;
	padding-bottom: var(--padding-small);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: smaller;
}

section {
	padding-top: var(--padding-large);
	padding-bottom: var(--padding-large);
}

.A4 {
	border-top: solid 1rem var(--color);
  max-width:210mm;
	padding: 8mm 16mm 27mm 16mm;
}

.flex-small-padding {
	display: flex;
	flex-direction: column;
	gap: var(--padding-small)
}

.flex-large-padding {
	display: flex;
	flex-direction: column;
	gap: var(--padding-large)
}

.indent {
	padding-left: var(--padding-large)
}

.flex-between {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	flex-wrap: wrap;
}
